.container-tabela {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  items-align: center;
  padding: 1em;
  padding-right: 10em;
}

.tabela {
  display: inline-flex;
  justify-content: flex-end;
  width: 100vw;
}
